{% schema %}
{
  "name": "Double collection",
  "settings": [
    {
      "type": "inline_richtext",
      "label": "Title",
      "id": "title",
      "default": "Double Collections"
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "Collection Block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default": "Collection Title"
        },
        {
          "type": "select",
          "label": "Title Color",
          "id": "title_color",
          "default": "blue",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "blue",
              "label": "Blue (#264A99)"
            }
          ],
          "default": "white",
          "label": "white"
        },
        {
          "type": "collection",
          "label": "Select Collection",
          "id": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "section",
      "name": "Double Sections Collections"
    }
  ]
}
{% endschema %}

<div class="custom-collection-section">
  <div class="container__collection">
    <div class="container__title">
        <div class="section-title">
            <div class="collection__section__title">{{ section.settings.title | rich_text }}</div>
          </div>
    </div>
  

    <div class="collection-blocks">
      {% for block in section.blocks %}
      {% assign collection = collections[block.settings.collection] %}

      <a href="{{ collection.url }}" class="collection-block">
          <img src="{{ block.settings.image | image_url: height: 1400 }}" alt="{{ block.settings.title }}">
          <div class="  collection-title "
            style="
              color:
              {% if block.settings.title_color == 'white' %}
                white
              {% elsif block.settings.title_color == 'black' %}
                black
              {% else %}
                #264A99
              {% endif %}
            "
          >
            {{ block.settings.title }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  /* Add your custom CSS styles here */
  .custom-collection-section {
    padding: 5rem 3rem;
    width: 100%;

    display: flex;
    justify-content: center;
  }
.container__collection{
    max-width: 1400px;
}
  .section-title {
    /* Define title styles */
    
  }

  .collection-blocks {
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    /* Add styles for block container */
  }

  .collection-block {
    flex: 1;
    flex: 1;
    position: relative;
  /* max-width: 700px ; */
  }
  .collection-block img{
    width: 100%;
    height: auto;
    z-index: 0;
  }
  .collection-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 2;
    font-size: 9.6rem;
    font-weight: bold;
  }
   .section-title{
    display: flex;
    justify-content: flex-end;

   }
   .collection__section__title{
    text-align: right;
    max-width: 20ch;
    font-size: 35px;
    line-height: 100%;
    color: black;
    text-transform: uppercase;
   }
   .collection__section__title strong{
font-weight: 600;
font-size: 35px;
    line-height: 100%;
    color: black;
    text-transform: uppercase;
   }
   @media screen and (max-width: 750px) {
    .collection__section__title{
    text-align: right;
    max-width: 20ch;
    font-size: 30px;
    line-height: 100%;
    color: black;
    text-transform: uppercase;
   }
   .collection__section__title strong{
font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: black;
    text-transform: uppercase;
   }
   .collection-title {
 
    font-size: 3rem;

}
   }
</style>
