{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article-template__header">
    <h1 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h1>
    <time class="publish-date" itemprop="datePublished" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
      {{ article.published_at | date: '%B %d, %Y' }}
    </time>
  </header>

  <div class="article-template__content rte" itemprop="articleBody">
    {{ article.content }}
  </div>
</article>

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ shop.url }}"
      },
      "headline": {{ article.title | json }},
      "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
      "author": {
          "@type": "Person",
          "name": {{ article.author | json }}
      },
      "publisher": {
          "@type": "Organization",
          "name": {{ shop.name | json }}
      },
      "articleBody": {{ article.content | strip_html | json }}
  }
</script>
