{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

<div class="article-container editorial">
  <article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="article-title">
      {% comment %}
        {% if section.settings.show_publish_date %}
          <p class="publish-date" itemprop="datePublished" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
            {{ article.published_at | date: '%B %d, %Y' }}
          </p>
        {% endif %}
      {% endcomment %}
    </div>

    <div class="article-template__content rte" itemprop="articleBody">
      {{ article.content }}
    </div>
  </article>
</div>
<div class="featured-title">{{ article.metafields.custom.phrase_buy_the_look.value }}</div>
<ul class="flex-container">
  {% assign recommended_products = article.metafields.custom.selection_produit.value %}
  {% for product in recommended_products %}
    {% assign is_discounted = false %}
    {% if product.compare_at_price_min > product.price %}
      {% assign is_discounted = true %}
    {% endif %}

    <li class="{% if is_discounted %}discounted-item{% endif %}">
      <a href="{{ product.url }}">
        <div class="image-container">
          {{ product.featured_image | image_url: width: 400 | image_tag: loading: 'lazy' }}
        </div>

        <div class="product-details">
          <h3>{{ product.title }}</h3>
          <div class="flex">
            <h3 class="price">{{ product.price | money }}</h3>
            {% if is_discounted %}
              <h3 class="compared price">
                <s>{{ product.compare_at_price_min | money }}</s>
              </h3>
            {% endif %}
          </div>

          {% if is_discounted %}
            <h3 class="discount-badge">Sale</h3>
          {% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ shop.url }}"
    },
    "headline": {{ article.title | json }},
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    },
    "articleBody": {{ article.content | strip_html | json }}
  }
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tableCells = document.querySelectorAll('.article-template__content td');

    tableCells.forEach(function (cell) {
      if (cell.querySelector('img')) {
        cell.classList.add('blank-bg');
      }
    });
  });
</script>
{% schema %}
{
  "name": "Main Article Editorial",
  "class": "main-article-editorial",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_publish_date",
      "label": "Show Publish Date",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Main Article Editorial",
      "category": "Article"
    }
  ]
}
{% endschema %}
